.teaser {
    /*background top*/
    color: #f2f2f2;
    background: #f2f2f2 url("../img/background.png");
    background-size: 100% 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    min-height: inherit;
  }
  .teaser [role=banner] {
    padding-top: 10%;
  }
  .teaser nav ul,
  .teaser [role=navigation] ul {
    list-style: none;
    padding: 0;
  }
  .teaser [role=navigation] {
    *zoom: 1;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .teaser [role=navigation]:after {
    content: "";
    display: table;
    clear: both;
  }
  .teaser [role=navigation] ul {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    text-align: center;
  }
  .teaser [role=navigation] ul li {
    display: inline;
    padding: 0 15px 40px;
    border-bottom: 1px solid #364054;
  }
  .teaser [role=navigation] ul li a {
    -webkit-transition: color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -moz-transition: color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -o-transition: color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: color 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .075em;
  }
  @media only screen and (max-width: 800px) {
    .teaser [role=navigation] ul li a {
      text-shadow: -1px 0 #f2f2f2, 0 1px #f2f2f2, 1px 0 #f2f2f2, 0 -1px #f2f2f2;
    }
  }
  .teaser [role=navigation] ul li a:hover {
    color: #f2f2f2;
  }
  @media only screen and (max-width: 800px) {
    .teaser [role=navigation] ul li a:hover {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
  .teaser .page {
    padding-top: 5em;
    padding-bottom: 7em;
    *zoom: 1;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .teaser .page:after {
    content: "";
    display: table;
    clear: both;
  }
  .teaser .page h1 {
    font-weight: 300;
    line-height: 1.125;
    font-size: 36px;
    letter-spacing: -.05em;
  }
  @media only screen and (max-width: 800px) {
    .teaser .page h1 {
      text-shadow: -1px 0 #f2f2f2, 0 1px #f2f2f2, 1px 0 #f2f2f2, 0 -1px #f2f2f2;
    }
  }
  .teaser .page h1 .design-and-build {
    font-size: 1.75em;
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.125;
  }
  .teaser .page h1 .design-and-build .amp {
    text-transform: none;
  }
  
  #floatdiv {
    position: absolute;
    width: 10px;
    z-index: 100;
    margin-left: -5%;
    margin-top: 45vh;
  }
  @media only screen and (max-width: 1200px) {
    #floatdiv {
      display: none;
    }
  }
  #floatdiv #dotNav {
    z-index: 5;
    right: 7%;
    padding: 7px;
    padding-top: 12px;
  }
  #floatdiv #dotNav ul {
    list-style: none;
    margin: 0;
  }
  #floatdiv #dotNav ul li {
    position: relative;
    background: none repeat scroll 0 0 #5C5C5C;
    border: 1px solid #aaaaaa;
    border-radius: 15px 15px 15px 15px;
    cursor: pointer;
    height: 12px;
    margin: 10px 10px 0px 0px;
    width: 12px;
    vertical-align: bottom;
    opacity: 0.4;
  }
  #floatdiv #dotNav ul li.active {
    background-color: #ffffff;
    background-image: -moz-linear-gradient(center top, #FFFFFF, #EEEEEE);
    background-repeat: repeat-x;
    opacity: 1.0;
  }
  #floatdiv #dotNav ul li:hover {
    background: none repeat scroll 0 0 #EEEEEE;
  }
  #floatdiv #dotNav ul li a {
    outline: 0;
    vertical-align: top;
    margin: 0px 0px 0px 25px;
    position: relative;
    top: -5px;
  }
  
  section {
    min-height: 100vh;
    min-width: 100%;
  }
  